* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.download-btn {
    background-color: #28a745;
}

.download-btn:hover {
    background-color: #218838;
}

#qrcode {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.qr-list {
    margin-top: 20px;
    text-align: left;
}

.qr-item {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    cursor: pointer;
}

.qr-item:hover {
    background-color: #f1f1f1;
}

.qr-item img {
    width: 50px;
    height: 50px;
}

.qr-item a {
    color: #007bff;
    text-decoration: none;
    word-break: break-all;
    font-size: 14px;
    flex-grow: 1;
    margin-left: 10px;
}

.delete-btn {
    border-radius: 100%;
    width: 50px;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: #c82333;
}